@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* shared styles  */
* {
  font-family: 'Work Sans', sans-serif;
}

.btn-primary {
  padding: 21px 40px;
  border-radius: 48px;
  background-color: #FF42A5;
  border: 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

/* header related styles */
/*-------------------------------------------
nav related styles 
---------------------------------------------*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title, .footer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-title-text {
  font-size: 2.8rem;
  font-weight: 700;
}

.nav-title-text span {
  color: #FF42A5;
}

.nav-title-img {
  width: 100%;
  height: 40px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  gap: 2rem;

}

.nav-menu ul li {
  list-style: none;
}

.nav-menu ul a,
.follow-links>li {
  text-decoration: none;
  font-size: 1.25rem;
  color: #3C354F;
}

.follow-links>li {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  padding: 17px 24px;
}

.nav li img {
  height: 70%;
}

/*-------------------------------------------
play related styles 
---------------------------------------------*/
.play {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.25rem;
}

.play-content {
  background: url(../images/Group\ 14.png);
  /* fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%); */
  width: 100%;
  background-repeat: no-repeat;
  margin: 0;
}

.play-content-title {
  color: #0B0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 auto;
}

h1.play-content-bold-text {
  font-size: 5.9rem;
  font-weight: 800;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto 24px;
}

.play-content-features {
  display: flex;
  flex-direction: column;
}

.play-content-features p {
  color: #534C64;
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 17px;
}

.play-content-features p:last-child {
  margin-bottom: 41px;
}

button.sky {
  background: #4EC5F7;
}


/*----------------------------------------
card-section 
-----------------------------------------*/
.card-section {
  margin: 120px 0;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.card-title {
  color: #0B0223;
  font-size: 3rem;
  font-weight: 700;
}

.card-section,
.play-games-title span {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-description {
  color: #534C64;
  font-size: 1.12rem;
  font-weight: 400;
  padding-bottom: 48px;
}

.card-subtitle {
  color: #534C64;
  font-size: 1.12rem;
  font-weight: 500;
  text-align: left;
}


/*----------------------------------------
play-games section 
-----------------------------------------*/
.play-games-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 245px;
}

.play-games-img {
  position: relative;
}

.play-games-img2 {
  position: absolute;
  left: 530px;
  top: 400px;
}

.play-games-title {
  color: #0B0223;
  font-size: 2.8rem;
  font-weight: 700;
}

.play-games-description {
  color: #534C64;
  font-size: 1.1rem;
  font-weight: 400;
}

/*-------------------------------------- 
games 
---------------------------------------*/
.games-container {
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  /* display: flex; */
  margin-top: 130px;
  padding: 130px 0;
  /* align-items: center; */
  /* justify-content: center; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 35px 52px;
}

.game {
  display: flex;
  border-radius: 50px;
  padding: 0 29px;
  background: #FFF;
  gap: 16px;
  align-items: center;
}

.games-logo {
  width: 60px;
  height: 60px;
}

.games-logo img {
  width: 100%;
}

.games-name {
  color: #0B0223;
  font-size: 1.1rem;
  font-weight: 600;
}

/*---------------------------------------
footer 
-----------------------------------------*/
.footer{
  padding: 120px 550px 130px;
  background: #0B0223;
}

.footer-title-text {
  color: #fff;
}
.first-nav ul{
  display:flex;
  justify-content: center;
  align-items: center;
}

.first-nav li{
  list-style: none;
}

.first-nav a {
  text-decoration: none;
}
/*---------------------------------------
mobile device 
-----------------------------------------*/
@media screen and (max-width: 576px) {

  .nav,
  .nav-menu {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .nav-menu,
  .nav-menu-name {
    flex-direction: column;
  }

  .nav li img {
    height: 60%;
  }

  .play,
  .card-container {
    flex-direction: column-reverse;
    margin-top: 50px;
  }

  .play-content {
    width: 87%;
    padding: 35px;
  }

  .play-content-bold-text {
    font-size: 80%;
  }

  .play-image img {
    width: 100%;
  }

  .card-title {
    width: 100%;
    font-size: 1.5rem;
  }

  .card-description {
    font-size: .65rem;
  }

  .card-subtitle {
    font-size: .8rem;
  }

  .play-games-container {
    flex-direction: column-reverse;
    gap: 0;
  }

  .play-games-content {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 85%;
    padding: 35px;
  }

  .play-games-img2 {
    position: static;
    display: none;
  }

  .play-games-img {
    width: 70%;
  }

  .play-games-img img:first-child {
    width: 100%;
  }

  .games-container{
    display: none;
  }
}

.footer {
  width: 100%;
  padding: 0px;
}
/*----------------------------------
tablet device 
------------------------------------*/
@media screen and (min-width:576px) and (max-width:768px) {

  .nav,
  .nav-menu {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .nav-menu .nav-menu-name {
    flex-direction: column;
  }

  .card-container,
  .play-games-container {
    flex-direction: column-reverse;
  }

  .play {
    margin: 100px 0 0 0;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .play-content {
    width: 94%;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    text-align: center;
  }

  .play-content-features {
    flex-direction: column;
    text-align: left;
    align-items: center;
  }

  .play-image img {
    width: 100%;
  }

  .play-games-content {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 85%;
    padding: 35px;
  }

  .play-games-img2 {
    position: static;
    display: none;
  }

  .play-games-img {
    width: 70%;
  }

  .play-games-img img:first-child {
    width: 100%;
  }

  .play-games-title {
    font-size: 1.8rem;
  }

  .games-container{
    display: none;
  }
}