@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* shared styles  */
* {
  font-family: 'Work Sans', sans-serif;
}


/* header related styles */
/* nav related styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-title-text {
  font-size: 2.8rem;
  font-weight: 700;
}

.nav-title-text span {
  color: #FF42A5;
}

.nav-title-img {
  width: 100%;
  height: 40px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  gap: 2rem;

}

.nav-menu ul li {
  list-style: none;
}

.nav-menu ul a,
.follow-links>li {
  text-decoration: none;
  font-size: 1.25rem;
  color: #3C354F;
}

.follow-links>li {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  padding: 17px 24px;
}

.nav li img {
  height: 70%;
}